body {
  margin: 0;
  background: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.app {
  text-align: center;
  padding: 40px;
}

.title {
  color: #22c55e;
  margin-bottom: 30px;
}

/* Search */

.searchBox {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.searchBox input {
  padding: 12px;
  width: 300px;
  border-radius: 8px;
  border: none;
  background: #1e293b;
  color: white;
}

.searchBox button {
  padding: 12px 20px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/* Dashboard */

.dashboard {
  max-width: 900px;
  margin: auto;
}

/* Profile card */

.profileCard {
  background: #111827;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 30px;
  box-shadow: 0 0 20px rgba(34, 197, 94, 0.2);
}

.profileCard img {
  width: 90px;
  border-radius: 50%;
}

/* Side profile layout */

.sideProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  text-align: left;
  flex-wrap: wrap;
}


/* PFP */

.pfpSection img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #22c55e;
  box-shadow: 0 0 20px rgba(34, 197, 94, 0.4);
}

/* Info */

.profileInfo h2 {
  margin: 0;
}

.username {
  opacity: 0.7;
  margin-bottom: 10px;
}

/* Meta stats */

.profileMeta {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Extra details */

.profileExtra p {
  margin: 3px 0;
  font-size: 13px;
  opacity: 0.9;
}

.profileExtra a {
  color: #22c55e;
  text-decoration: none;
}


/* Stats grid */

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.statCard {
  background: #111827;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 15px rgba(34, 197, 94, 0.15);
}

.statCard h3 {
  color: #22c55e;
  margin: 0;
}

.statCard p {
  opacity: 0.8;
}

/* Bottom layout */

.bottomGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(34, 197, 94, 0.15);
}

/* Repo list */

.repoList {
  max-height: 400px;
  overflow-y: auto;
}

.repoItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  background: #0f172a;
  border-radius: 10px;
}

.repoItem h4 {
  margin: 0;
  font-size: 14px;
}

.repoItem p {
  margin: 0;
  opacity: 0.7;
  font-size: 12px;
}

.repoStats {
  color: #22c55e;
  font-weight: bold;
}

.pieWrapper {
  width: 340px;
  height: 340px;
  margin: auto;
}

.heatmapFooter {
  margin-top: 40px;
  padding: 30px;
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heatmapFooter h3 {
  margin-bottom: 20px;
}

.react-github-calendar__calendar {
  margin: auto !important;
}

.react-github-calendar svg {
  margin: auto;
}
